.center {
    text-align: left;
}

.startext {    
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 240px;
    font-family: Calibri;
}

button {
    size: 1rem;
}

.norepeat {
    background-size: cover;
    width: 100%;
    height: 100%;
}