@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E9F1F7;
    color: #131B23
}

.navbar {
    overflow: hidden;
    background-color: #333;
    display: block;
    left: 0;
    position: relative;
    width: 100%;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    padding-bottom: 20px;
    text-decoration: none;
}

#form {
    float: center;
    display: grid;
    margin-right: 10px;
    margin-top: 40px;
    
}

#form input {
    float: center;
    display: grid;
    margin-right: 10px;
    margin-top: 20px;
    width: 30%;
    font-size: 15px;
    height: 30px;
}

#form label {
    float: left;
}

#submitbutton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 45%;
    opacity: 0.9;
    height: 100%;
}

#center {
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.text-centered {
    text-align: center;
}

.sidebar {
    float: left;
    width: 15%;
    height: 35%;
    background-color: #333;
    position: fixed;
    font-size: large;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    text-decoration-color: #E9F1F7;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

.footer {
    margin-top: 85px;
}

.jobs {
    float: right;
    width: 30%;
    height: 35%;
    background-color: #333;
    position: relative;
    font-size: large;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    text-decoration-color: #E9F1F7;
}

table, th, td {
    border: 1px solid whitesmoke;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

td {
    color: white;
}

#tablecard {
    justify-content: center;
    align-items: center;
}

table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}